@import url("https://use.typekit.net/ftn5sdd.css");

:root {
  --chantilly-lace: #f4f6f1; 
  --dark-calypso-green: #003a2f; 
  --calypso-green: #005a48; 
  --bud-green: #a6e4b5; 
  --light-bud-green: #e4f7e9; 
  --lightest-bud-green: #edfaf0; 
  --appalachian-trail: #a2beaf;
  --light-appalachian-trail: #b5cbbf;
  --emerald-vapor: #e3eee8; 
  --cyan: #00FFFF;
  --bunny-nose-pink: #edcde5;
  --pineapple-grove: #faea9d;
  --glowing-apricot: #f3cf9b;
  --morning-glory: #b7ddea;
}

body:not(h1,h2) {
  font-family: "proxima-nova", sans-serif;
}

html {
  font-size: 62.5% !important;
}

h1 {
  font-family: "factoria", sans-serif;
  font-size: calc(1.8rem + 2vw); 
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

h2 {
  font-family: "factoria", sans-serif;
  font-size: calc(1.8rem + .75vw);
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
  border: none;
}

h3 {
  font-size: calc(1.8rem + .5vw);
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
  opacity: 1;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

#quarto-content {
  background-color: var(--chantilly-lace);
}

#quarto-content>* {
  padding-top: 0;
}

.grid {
  gap: 1.8rem;
}

.g-col-sm-12 {
  grid-column: auto/span 12;
}

.g-col-sm-0 {
  grid-column: auto/span 0;
}

.container {
  --bs-gutter-x: 1.8rem;
}

/* navbar */

.navbar {
  background-color: var(--calypso-green);
}

.navbar-logo {
  max-height: 10rem;
}

.navbar-brand {
  display: none;
}

.navbar .nav-link {
  color: var(--chantilly-lace);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.navbar .nav-link:hover {
  color: var(--bud-green);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--bud-green);
}

.dropdown-menu .dropdown-item {
  font-size: 1.8rem;
  color: var(--dark-calypso-green);
  text-transform: uppercase;
  background-color: var(--chantilly-lace);
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--emerald-vapor);
}

.navbar-toggler-icon {
  width: 1.8rem;
  height: 1.8em;
  background-image: url(images/navbar-toggler-white.svg);
}

.navbar-toggler-icon:hover {
  background-image: url(images/navbar-toggler-green.svg);
}

.navbar-dark, .navbar[data-bs-theme=dark] {
  --bs-navbar-color: transparent;
}

/* footer */

.nav-footer {
  color: var(--chantilly-lace);
  font-size: 1.8rem;
  background-color: var(--calypso-green);
}

.nav-footer a {
  color: var(--chantilly-lace);
}

.nav-footer a:hover {
  color: var(--bud-green);
}

.nav-footer .img-fluid {
  height: 10rem;
}

.nav-footer span {
  display: block;
}

.bi-envelope {
  font-size: 1.8rem;Welcome to the Johns Hopkins
Lyme and Tickborne Diseases
Dashboard
}

/* home */

#home-hero {
  text-align: center;
  background-color: var(--dark-calypso-green);
  background-image: radial-gradient(circle, transparent, var(--dark-calypso-green)),
  url(images/tick-outline-100x100.svg);
  background-repeat: space;
}

#home-hero h1 span {
  color: var(--chantilly-lace);
  display: block;
}

#home-hero h3 {
  color: var(--chantilly-lace);
}

#story-btn {
  border: .2rem solid var(--chantilly-lace);
  width: fit-content;
  margin: auto;
  padding: .9rem .9rem;
  display: block;
  margin-bottom: 1.8rem;
}

#story-btn:hover {
  cursor: pointer;
  box-shadow: -.2rem .2rem 0 var(--bud-green);
}

#story-btn a {
  color: var(--chantilly-lace);
  text-decoration: none;
}

#care-btn {
  border: .2rem solid var(--chantilly-lace);
  width: fit-content;
  margin: auto;
  padding: .9rem .9rem;
  display: inline-block;
  margin-bottom: 1.8rem;
  margin-right: 1.8rem;
}

@media only screen and (max-width: 480px) {
  #care-btn {
    display: block;
    margin: auto;
    margin-bottom: 1.8rem;
  }
  #risk-btn {
    display: block;
  }
}

#care-btn:hover {
  cursor: pointer;
  box-shadow: -.2rem .2rem 0 var(--bud-green);
}

#care-btn a {
  color: var(--chantilly-lace);
  text-decoration: none;
}

#risk-btn {
  border: .2rem solid var(--chantilly-lace);
  width: fit-content;
  margin: auto;
  padding: .9rem .9rem;
  display: inline-block;
  margin-bottom: 1.8rem;
}

#risk-btn:hover {
  cursor: pointer;
  box-shadow: -.2rem .2rem 0 var(--bud-green);
}

#risk-btn a {
  color: var(--chantilly-lace);
  text-decoration: none;
}

#project-desc p:not(a) {
  color: var(--chantilly-lace);
  font-weight: 300;
  margin-bottom: 1.8rem;
}

#project-desc a {
  color: var(--chantilly-lace);
  font-weight: 500;
  text-decoration: none;
  opacity: .8;
}

#project-desc a:hover {
  color: var(--bud-green);
  opacity: 1;
}

#home-headlines {
  color: var(--dark-calypso-green);
  padding-bottom: 1.8rem;
}

#home-headlines a,
#home-care .callout a,
#home-risk ul a {
  color: var(--calypso-green);
  text-decoration: none;
}

#home-headlines a:hover,
#home-care .callout a:hover,
#home-risk ul a:hover {
  text-decoration: underline;
  text-decoration-color: var(--bud-green);
}

#headlines-1 .img-fluid,
#headlines-2 .img-fluid,
#headlines-3 .img-fluid{
  border: .2rem solid var(--emerald-vapor);
  border-radius: 0 120px 0 120px;
  -moz-border-radius: 0 120px 0 120px;
  -webkit-border-radius: 0 120px 0 120px;
  width: 100%;
}

#headlines-grid,
#care-grid {
  margin-top: 1.8rem;
}

@media only screen and (min-width: 768px) {
  #headlines-1, #headlines-2 {
    border-right: .2rem solid var(--emerald-vapor);
    border-left: .2rem solid var(--chantilly-lace);
  }
  #headlines-3 {
    border-right: .2rem solid var(--chantilly-lace);
    border-left: .2rem solid var(--chantilly-lace);
  }
  #headlines-1, #headlines-2, #headlines-3 {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
  #headlines-grid {
    margin-left:-3.6rem;
    margin-right:-3.6rem;
    gap:0;
  }
}

#home-care {
  background-color: var(--light-bud-green);
  color: var(--dark-calypso-green);
}

#home-care .callout {
  margin-top: 0;
  margin-bottom: 0;
}

#home-care .callout.callout-style-default.callout-tip.no-icon.callout-titled {
  height: 100%;
}

#home-care div.callout-tip.callout-style-default>.callout-header {
  color: var(--calypso-green);
  background: none;
  border-radius: 0;
  font-weight: 500;
  position: relative;
  z-index: 1;
  opacity: 1;
  height: calc(1.8rem + 2vw);
  margin-top: calc(-1.8rem + -2vw)
}

#home-care .callout.callout-style-default .callout-body {
  background-color: var(--lightest-bud-green);
  color: var(--dark-calypso-green);
  padding: 3.6rem;
  border-radius: 0 120px 0 120px;
  -moz-border-radius: 0 120px 0 120px;
  -webkit-border-radius: 0 120px 0 120px;
  border: .2rem solid var(--emerald-vapor);
  height: 100%;
  position: relative;
}

#home-care .callout.callout-style-default .callout-body>:first-child {
  padding-top: 0;
}

#home-care .callout .callout-title-container {
  position: absolute;
  font-size: calc(1.8rem + 2vw);
  top: calc((1.8rem + 2vw) / 3);
}

#home-care div.callout-tip.callout {
  border: none;
  border-radius: 0;
}

.bi-people-fill,
.bi-globe-americas,
.bi-heart-pulse-fill,
.bi-search-heart {
  color: var(--bud-green);
}

.flower-1 {
  background-image: url(images/pink-flower.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 7.2rem;
  width: 7.2rem;
  margin: -1.8rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.flower-2 {
  background-image: url(images/yellow-flower.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 7.2rem;
  width: 7.2rem;
  margin: -1.8rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.flower-3 {
  background-image: url(images/orange-flower.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 7.2rem;
  width: 7.2rem;
  margin: -1.8rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.flower-4 {
  background-image: url(images/blue-flower.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 7.2rem;
  width: 7.2rem;
  margin: -1.8rem;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

@media only screen and (min-width: 768px) {
  #care-callout-1, #care-callout-2, #care-callout-3, #care-callout-4 {
    padding-left: 10%;
    padding-right: 10%;
  }
  #care-callout-1, #care-callout-2 {
    margin-bottom: 1.3rem;
  }
  #care-callout-3, #care-callout-4 {
    margin-bottom: calc(1.3rem + 1.8rem);
  }
}

@media only screen and (max-width: 767px) {
  #care-callout-1, #care-callout-2, #care-callout-3 {
    margin-bottom: 1.4rem;
  }
  #care-callout-4 {
    margin-bottom: calc(1.4rem + 1.8rem);
  }
}

#home-risk {
  color: var(--dark-calypso-green);
}

#search-icon {
  content: url(images/search-icon.svg);
  height: 3.6rem;
  width: 3.6rem;
}

#layers-icon {
  content: url(images/layers.svg);
  height: 3.6rem;
  width: 3.6rem;
}

#risk-text ul {
  padding-top: 1.8rem;
  padding-left: 0;
}

#risk-text ul li {
  font-size: 1.8rem;
  list-style: none;
  line-height: 1.5;
  margin-bottom: 1.8rem;
  text-indent: -3.2rem;
  padding-left: 3.2rem;
}

#risk-text ul li::before {
  content: '';
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  background-image: url(images/list-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 .9rem -.3rem 0;
}

.leaflet-container {
  border: .2rem solid var(--emerald-vapor);
}

div[id^="htmlwidget-"] {
  font-family: "proxima-nova", sans-serif;
}

path.leaflet-interactive[stroke="#e03"] {
  stroke: Var(--cyan); 
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border-radius: 0;
}

.leaflet-touch .leaflet-bar a:first-child {
  border-radius: 0;
}

.leaflet-touch .leaflet-bar button {
  border-radius: 0;
}

.leaflet-control-search .search-button {
  background: url(images/search-icon.svg) no-repeat -2px 1px #fff;
  border-radius: 0;
}

.leaflet-control-search .search-button:hover {
  background: url(images/search-icon.svg) no-repeat -2px 1px #f4f4f4;
}

.leaflet-control-search .search-cancel {
  background: url(images/close-icon.svg) no-repeat;
  right: 30px;
  top: 4px;
  margin: 0;
}

.leaflet-tooltip {
  font-size: 1.8rem !important;
  border-radius: 0;
}

.leaflet-control-layers-overlays {
  font-size: 1.8rem;
  max-width: 30rem;
}

.leaflet-control-layers label {
  text-indent: -5.6rem;
  padding-left: 5.6rem;
}

.leaflet-container .leaflet-control-search  {
  border-radius: 0;
}

.leaflet-control-search .search-input {
  font-size: 1.8rem;
  border-radius: 0;
  outline: none;
  width: 25rem;
}

.leaflet-control-search .search-tooltip {
  font-size: 1.8rem;
  width: 25rem;
  border-radius: 0;
}

.leaflet-control-search .search-tip {
  font-size: 1.8rem;
  border-radius: 0;
  white-space: wrap;
}

.leaflet-retina .leaflet-control-layers-toggle {
	background-image: 
	url(images/layers.svg);
	background-size: 3.8rem 3.8rem;
	}

#lyme-icon {
  content: url(images/lyme-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#anaplasmosis-icon {
  content: url(images/anaplasmosis-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#babesiosis-icon {
  content: url(images/babesiosis-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#e-chaffeensis-icon {
  content: url(images/e-chaffeensis-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#e-ewingii-icon {
  content: url(images/e-ewingii-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#sfr-icon {
  content: url(images/sfr-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#tularemia-icon {
  content: url(images/tularemia-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#undetermined-icon {
  content: url(images/undetermined-icon.svg);
  height: 2.7rem;
  width: 2.7rem;
}

#home-maps {
  background-color: var(--light-appalachian-trail);
  color: var(--dark-calypso-green);
  padding-bottom: 1.8rem;
}

@media only screen and (min-width: 768px) {
  #home-maps-col {
    padding-left: 20%;
    padding-right: 20%;
  }
}

#home-maps a {
  font-family: "proxima-nova", sans-serif;
  color: var(--calypso-green);
  text-decoration: none;
}

#home-maps a:hover {
  font-family: "proxima-nova", sans-serif;
  text-decoration: underline;
  text-decoration-color: var(--bud-green);
}

#home-maps .img-fluid {
  border: .2rem solid var(--appalachian-trail);
  border-radius: 0 120px 0 120px;
  -moz-border-radius: 0 120px 0 120px;
  -webkit-border-radius: 0 120px 0 120px;
  width: 100%;
}

/* about us */

#about-us-header {
  background-color: var(--dark-calypso-green);
  background-image: radial-gradient(circle, transparent, var(--dark-calypso-green)),
  url(images/tick-outline-100x100.svg);
  background-repeat: space;
  height: calc(calc(1.8rem + 2vw) * 9);
  position: relative;
}

#about-us-header span {
  color: var(--chantilly-lace);
  display: block;
  text-align: center;
  font-size: calc(1.8rem + 2vw) !important;
}

#about-us-title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(calc(50% + calc(1.8rem + 2vw)) * -1));
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

#about-us-leaf h1 { 
  color: var(--chantilly-lace);
  font-weight: 300;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  left: 50%;
  transform: translate(-50%);
  top: calc(calc(calc(1.8rem + 2vw) * 9) - calc(1.8rem + 2vw) - calc(1.8rem + 2vw));
  background-color: var(--calypso-green);
  background-image: linear-gradient(to bottom right, var(--calypso-green), var(--dark-calypso-green));
  border: .2rem solid var(--calypso-green); 
  border-radius: 0 120px 0 120px;
  -moz-border-radius: 0 120px 0 120px;
  -webkit-border-radius: 0 120px 0 120px;
  padding: calc(1.8rem + 2vw); 

}

#about-us-mission {
  color: var(--dark-calypso-green);
  padding-bottom: 1.8rem;
}

#about-us-mission h1 {
  font-family: "proxima-nova", sans-serif;
  color: var(--calypso-green);
  text-align: center;
  margin-top: calc(calc(1.8rem + 2vw) * 2); 
} 

#mission-grid {
  margin-top: 1.8rem;
}

#about-us-mission h2 {
  text-align: center;
} 

@media only screen and (min-width: 768px) {
  #mission-1, #mission-2 {
    border-right: .2rem solid var(--emerald-vapor);
    border-left: .2rem solid var(--chantilly-lace);
  }
  #mission-3 {
    border-right: .2rem solid var(--chantilly-lace);
    border-left: .2rem solid var(--chantilly-lace);
  }
  #mission-1, #mission-2, #mission-3 {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
  #mission-grid {
    margin-left:-3.6rem;
    margin-right:-3.6rem;
    gap:0;
  }
}

#mission-1-icon p, 
#mission-2-icon p,
#mission-3-icon p {
  text-align: center;
}

#about-us-team {
  color: var(--dark-calypso-green);
  background-color: var(--light-appalachian-trail);
  padding-bottom: 1.8rem;
}

#team-grid {
  margin-top: 1.8rem;
}

@media only screen and (min-width: 768px) {
  #team-1, #team-2, #team-4 {
    border-right: .2rem solid var(--appalachian-trail);
    border-left: .2rem solid var(--light-appalachian-trail);
  }
  #team-3, #team-5 {
    border-right: .2rem solid var(--light-appalachian-trail);
    border-left: .2rem solid var(--light-appalachian-trail);
  }
  #team-1, #team-2, #team-3, #team-4, #team-5 {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
  #team-grid {
    margin-left:-3.6rem;
    margin-right:-3.6rem;
    gap:0;
  }
  #team-4, #team-5 { 
    margin-top: 1.8rem;
  } 
}

#team-grid .img-fluid {
  border: .2rem solid var(--appalachian-trail);
  border-radius: 0 120px 0 120px;
  -moz-border-radius: 0 120px 0 120px;
  -webkit-border-radius: 0 120px 0 120px;
  width: 100%; 
  object-fit: cover; 
}

#team-grid h2 {
  font-family: "proxima-nova", sans-serif;
}

#team-4 h3, #team-5 h3 {
  margin-bottom: 0;
}

#team-grid a {
  color: var(--calypso-green);
  text-decoration: none; 
}

#team-grid a:hover {
  text-decoration: underline;
  text-decoration-color: var(--bud-green);
}

#about-pubs {
  color: var(--dark-calypso-green); 
}

#about-pubs ul {
  padding-top: 1.8rem;
  padding-left: 0;
}

#about-pubs ul li {
  font-size: 1.8rem;
  list-style: none;
  line-height: 1.5;
  margin-bottom: 1.8rem;
  text-indent: -3.2rem;
  padding-left: 3.2rem;
}

#about-pubs ul li::before {
  content: '';
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  background-image: url(images/list-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 .9rem -.3rem 0;
}

#about-pubs a {
  color: var(--calypso-green);
  text-decoration: none;
}

#about-pubs a:hover {
  text-decoration: underline;
  text-decoration-color: var(--bud-green);
}

/* news & resources */

#news-header h1 {
  color: var(--dark-calypso-green);
  font-weight: 300;
}

#news-header hr,
#news hr,
#research hr {
  margin: 0;
  color: var(--emerald-vapor);
  border: 0;
  border-top: .2rem solid;
  opacity: 1; 
}

#news h2,
#research h2,
#resources h2 {
  color: var(--dark-calypso-green); 
}

#news-leaf,
#research-leaf,
#resources-leaf { 
  background-color: var(--calypso-green);
  background-image: linear-gradient(to bottom right, var(--calypso-green), var(--dark-calypso-green));
  border: .2rem solid var(--calypso-green); 
  border-radius: 0 120px 0 120px;
  -moz-border-radius: 0 120px 0 120px;
  -webkit-border-radius: 0 120px 0 120px;
  width: fit-content;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  padding-left: 5rem;
  padding-right: 5rem; 
  position: relative;
}

#news-flower {
  content: url(images/pink-flower.svg);
  height: 7.2rem;
  width: 7.2rem;
  position: absolute;
  bottom: 0%;
  margin-bottom: -2.2rem; 
  margin-left: -.2rem; 
}

#research-flower {
  content: url(images/orange-flower.svg);
  height: 7.2rem;
  width: 7.2rem;
  position: absolute;
  bottom: 0%;
  margin-bottom: -2.2rem;
  margin-left: -.2rem; 
}

#resources-flower {
  content: url(images/blue-flower.svg); 
  height: 7.2rem;
  width: 7.2rem;
  position: absolute;
  bottom: 0%;
  margin-bottom: -2.2rem;
  margin-left: -.2rem; 
} 

#news-content h2, #research-content h2, #resources-content h2 { 
  font-family: "proxima-nova", sans-serif;
}

#news-content h3, #research-content h3, #resources-content h3 {
  color: var(--dark-calypso-green);
}

#news-content p, #research-content p, #resources-content p {
  color: var(--dark-calypso-green);
}

#news-content a, #research-content a, #resources-content a {
  color: var(--calypso-green);
  text-decoration: none; 
}

#news-content a:hover, #research-content a:hover, #resources-content a:hover {
  text-decoration: underline;
  text-decoration-color: var(--bud-green);
}

@media only screen and (min-width: 768px) {
  #news-content h3:first-of-type {
    margin-top: 0;
  }
  #research-content h3:first-of-type {
    margin-top: 0;
  }
  #resources-content h2:first-of-type {
    margin-top: 0;
  }
}

#resources-content ul {
  padding-left: 0;
  margin-bottom: 1.8rem;
}

#resources-content ul li {
  font-size: 1.8rem;
  list-style: none;
  line-height: 1.5;
  text-indent: -3.2rem;
  padding-left: 3.2rem;
}

#resources-content ul li::before {
  content: '';
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  background-image: url(images/list-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 .9rem -.3rem 0;
}